rest-assured-demo/src/test/resources/ParaBankBillPaySchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="billPayResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="accountId"/>
        <xs:element type="xs:short" name="amount"/>
        <xs:element type="xs:string" name="payeeName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>